<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resized Block</title>
    <link rel="stylesheet" href="../css/resizedBlockStyles.css" />
  </head>
  <body>
    <div id="container">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
        fuga voluptatem suscipit iste nobis delectus quis illo minus vero rem
        eveniet quasi laudantium. Itaque numquam atque ducimus magni ad
        consequuntur.
      </p>
      <div class="resizer"></div>
    </div>
    <script type="module" src="../js/resizedBlock.js"></script>
  </body>
</html>
