<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
    <link rel="stylesheet" href="../css/tableStyles.css" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th scope="col" data-type="string">Strings</th>
          <th scope="col" data-type="string">Strings with Numbers</th>
          <th scope="col" data-type="number">Numbers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ubuntu</td>
          <td>83</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Windows</td>
          <td>21</td>
          <td>76</td>
        </tr>
        <tr>
          <td>JS</td>
          <td>0</td>
          <td>54</td>
        </tr>
        <tr>
          <td>React</td>
          <td>833</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Object</td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Array</td>
          <td>11</td>
          <td>11</td>
        </tr>
        <tr>
          <td>array</td>
          <td>-93</td>
          <td>-0</td>
        </tr>
        <tr>
          <td>array of numbers</td>
          <td>77</td>
          <td>-99</td>
        </tr>
        <tr>
          <td>HTML</td>
          <td>232</td>
          <td>31</td>
        </tr>
        <tr>
          <td>styles</td>
          <td>-77</td>
          <td>-77</td>
        </tr>
        <tr>
          <td>dynamic language</td>
          <td>90</td>
          <td>444</td>
        </tr>
        <tr>
          <td>function declaration</td>
          <td>-0</td>
          <td>73</td>
        </tr>
        <tr>
          <td>add event listener</td>
          <td>-40</td>
          <td>-4</td>
        </tr>
        <tr>
          <td>add</td>
          <td>777</td>
          <td>-0</td>
        </tr>
      </tbody>
    </table>

    <script src="../js/table.js"></script>
  </body>
</html>
