<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Textarea</title>
    <link rel="stylesheet" href="../css/textareaStyles.css" />
  </head>
  <body>
    <textarea class="textarea" rows="15" autofocus></textarea>
    <div class="text-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit vitae ad
      consequatur suscipit, fugit accusantium perferendis impedit libero
      voluptatem corporis perspiciatis? Quo atque dolores inventore sapiente
      magni quibusdam, at totam.
    </div>

    <script src="../js/textarea.js"></script>
  </body>
</html>
