body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--fw-regular);
  font-style: normal;
  color: var(--main-text-color);
}

.container {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: var(--secondary-text-color);
}

a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  outline: none;
}
