@import "./base.css";

#container {
  position: relative;
  width: 300px;
  height: 300px;
  min-width: 100px;
  min-height: 100px;
  background-color: lightgrey;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
}

.resizer {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
  z-index: 100;
}

p {
  margin: 0;
}
