@use "../abstracts" as *;
@use "../base/typography" as *;

.hero {
  @include flex(column, center);
  position: relative;
  width: 100%;
  height: $min-content-vh;
  background: url(./../public/images/desktop/hero.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 100%;
    background: url(./../public/images/tablet/hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    background: url(./../public/images/phone/hero_image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__text {
    position: absolute;
    top: 0;
    padding-top: 100px;
  }

  &__heading {
    @include font-hero-heading;
  }
}
