@use "../abstracts" as *;
@use "../base/typography" as *;

.hero {
  @include flex(column, center);
  position: relative;
  width: 100%;
  height: $min-content-vh;
  background: url("./../public/images/desktop/hero.webp") no-repeat center;
  background-size: cover;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 50vh;
  }

  &__text {
    position: absolute;
    top: 0;
    padding-top: 100px;
  }

  &__heading {
    @include font-hero-heading;
  }
}
