@use "../abstracts" as *;
@use "../base/typography" as *;

.latest {
  @include flex(column, center);
  @extend %full-width;
  margin-bottom: 90px;

  &__all {
    @include flex($alignment: center, $justification: space-between);
    @extend %full-width;
    margin-bottom: 30px;
  }

  &__heading {
    @include font-heading2;
    text-transform: capitalize;
  }

  &__posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    align-items: stretch;
    gap: 30px;

    // media
    @include for-tablet-landscape-down {
      grid-template-columns: 1fr;
    }
  }

  &__post {
    @include flex(column);
    margin-bottom: 50px;

    // media
    @include for-tablet-landscape-down {
      @include flex();

      &:nth-of-type(2n) {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }

  &__image {
    margin-bottom: 25px;

    // media
    @include for-tablet-landscape-down {
      width: 46%;
    }
  }

  &__text-content-wrap {
    @include flex(column);
    @include for-tablet-landscape-down {
      width: 52%;
      // padding-left: 20px;
    }
  }

  &__info {
    @include flex($justification: space-between);
    @include font-latest-category;
    margin-bottom: 20px;
  }

  &__catedory {
    text-transform: capitalize;
  }

  &__title {
    @include font-title-medium;
    margin-bottom: 20px;
  }

  &__excerpt {
    @include font-post-excerpt;
  }
}
