@use "../abstracts" as *;
@use "../base/typography" as *;

.popular {
  @include flex(column, center);
  @extend %full-width;
  margin-bottom: 90px;

  &__all {
    @include flex($alignment: center, $justification: space-between);
    @extend %full-width;
    margin-bottom: 30px;
  }

  &__heading {
    @include font-heading2;
    text-transform: capitalize;
  }

  &__posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    align-items: stretch;
    gap: 30px;
  }

  &__post {
    @include flex(column);
    margin-bottom: 50px;
  }

  &__image {
    margin-bottom: 25px;
  }

  &__info {
    @include flex($justification: space-between);
    @include font-latest-category;
    margin-bottom: 20px;
  }

  &__category {
    @include font-latest-category;
    text-transform: capitalize;
  }

  &__title {
    @include font-popular-title;
    margin-bottom: 20px;
  }

  &__excerpt {
    @include font-post-excerpt;
  }
}
