@use "../abstracts" as *;
@use "../base/typography" as *;

.posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 50px;
  margin-bottom: 90px;
  box-sizing: border-box;

  &__post {
    display: grid;
    grid-template-columns: 47.5% 50%;
    grid-auto-rows: auto;
    gap: 20px;
  }

  &__post:nth-of-type(2n) &__text-content-wrap {
    order: -1;
    margin-left: auto;
  }

  &__post:nth-of-type(2n) {
    grid-template-columns: 50% 47.5%;
  }

  &__text-content-wrap {
    @include flex(column, $justification: center);
  }

  &__text-content {
    @include flex(column);
    @extend %full-width;
    max-width: 420px;
    padding: 10px;
    box-sizing: border-box;
  }

  &__category {
    @include font-post-category;
    margin-bottom: 30px;
  }

  &__title {
    @include font-post-title;
    margin-bottom: 15px;
  }

  &__date {
    @include font-post-date;
    margin-bottom: 50px;
  }

  &__excerpt {
    @include font-post-excerpt;
  }
}
