@use "../abstracts" as *;
@use "../base/typography" as *;

.posts {
  @include flex(column, center);
  padding-bottom: 90px;
  gap: 50px;

  // media
  @include for-tablet-landscape-down {
    padding-bottom: 64px;
  }
  @include for-phone-only {
    padding-bottom: 14px;
    gap: 0;
  }

  &__post {
    @include flex($alignment: center);
    width: 100%;
    gap: 30px;

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
      align-items: center;

      .posts__text-content-wrap {
        display: flex;
        justify-content: end;
      }

      // media
      @include for-phone-only {
        &:nth-of-type(2n) {
          flex-direction: column-reverse;
        }
      }
    }

    // media
    @include for-tablet-landscape-down {
      gap: 21px;
    }
    @include for-phone-only {
      flex-direction: column-reverse;
      gap: 32px;
      margin-bottom: 56px;
    }
  }

  &__picture {
    display: block;
    flex-basis: 48.7%;

    @include for-tablet-landscape-down {
      width: 100%;
    }
  }

  &__image {
    min-width: 300px;
  }

  &__text-content-wrap {
    overflow: hidden;
    flex-basis: 47.5%;
  }

  &__text-content {
    @include flex(column);
    @extend %full-width;
    max-width: 450px;
    box-sizing: border-box;
    transform: translateY(-5px);

    @include for-phone-only {
      max-width: 100%;
    }
  }

  &__category {
    @include font-category-regular;
    text-transform: capitalize;
    margin-bottom: 24px;

    // media
    @include for-phone-only {
      margin-bottom: 30px;
    }
  }

  &__title {
    @include font-title-medium;
    margin-bottom: 9px;

    // media
    // @include for-tablet-landscape-down {
    //   @include responsive-font(19, 23);
    //   line-height: 1.2;
    // }

    @include for-phone-only {
      @include responsive-font(22, 23);
      margin-bottom: 12px;
    }
  }

  &__date {
    @include font-category-regular;
    margin-bottom: 48px;

    // media
    @include for-tablet-landscape-down {
      margin-bottom: 15px;
    }
    @include for-phone-only {
      margin-bottom: 38px;
    }
  }

  &__excerpt {
    @include font-paragraph-regular;

    @include for-tablet-landscape-down {
      // @include responsive-font(14, 16);
    }
  }
}
