@use "../abstracts" as *;
@use "../base/typography" as *;

.footer {
  @include flex(column, center);
  @extend %full-width;
  background: $footer-bg-color;
  padding-top: 70px;
  padding-bottom: 30px;

  &__inner {
    @include flex(column, center);
  }

  &__heading {
    @include font-heading1-semibold;
    align-self: flex-start;
    margin-bottom: 30px;
  }

  &__contacts {
    @include flex($justification: space-between);
    @extend %full-width;
    margin-bottom: 20px;
  }

  &__contacts-list {
  }

  &__contacts-item {
    margin-bottom: 5px;
  }

  &__contact-link {
    @include font-footer-contact;
  }

  &__social-links {
    @include flex($alignment: center, $justification: space-between);
    gap: 23px;
  }

  &__copiright {
    @include font-copiright;
  }
}
