@use "../abstracts" as *;
@use "../base/typography" as *;

.header {
  @include flex(column, center);
  @extend %full-width;
  position: relative;
  padding-top: 37px;
  padding-bottom: 36px;

  &__logo-icon {
    width: 142px;
    height: 12px;
  }

  &__nav {
    @include flex($alignment: center, $justification: space-between);
  }

  &__checkbox {
    display: none;
  }

  &__nav-list {
    @include flex($alignment: center, $justification: flex-end);
    @extend %full-width;
    gap: 24px;
  }

  &__list-item {
    @include font-list-regular;
  }

  &__nav-link {
    position: relative;
    display: inline-block;
    padding: 5px 7px;

    &:active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(50% - 21px);
      height: 1px;
      width: 40px;
      background: $black-color;
    }
  }

  &__nav-bar {
    @include flex($alignment: center);
    margin-left: 85px;
  }

  &__search-wrap {
    @include flex($alignment: center);
    position: relative;
    max-width: 178px;
    padding-left: 5px;
    box-sizing: border-box;
  }

  &__input {
    width: 0;
    border: none;
    border-bottom: 1px solid $black-color;
    padding-right: 0;
    padding-left: 0;
    opacity: 0;

    &::placeholder {
      @include font-search-placeholder;
    }
  }

  &__search-btn:focus + &__input {
    @include transition(opacity 0.5s ease-in-out);
    @extend %full-width;
    padding-right: 25px;
    opacity: 1;
  }

  &__search-btn {
    position: absolute;
    top: 2px;
    right: 0;
    border: none;
    outline: none;
    padding: 0 0 0 10px;
    background: transparent;
    box-sizing: border-box;
    z-index: 1;
  }

  &__search-lens {
    width: 17px;
    height: 16px;
    fill: $black-color;
  }
}

// media

@include for-tablet-landscape-down {
  .header {
    &__burger {
      display: inline-block;
      height: 20px;
      padding: 15px 0 15px 15px;
      margin-left: 34px;
    }

    &__burger-label {
      display: block;
      position: relative;
      height: 20px;
      cursor: pointer;
    }

    &__line {
      display: block;
      width: 34px;
      height: 2px;
      background: $black-color;

      &::before {
        position: absolute;
        content: "";
        top: 8px;
        width: 34px;
        height: 2px;
        background: $black-color;
      }

      &::after {
        position: absolute;
        content: "";
        bottom: 1px;
        width: 34px;
        height: 2px;
        background: $black-color;
      }
    }

    &__nav-list {
      @include flex(column, flex-end);
      position: absolute;
      top: 123px;
      left: 0;
      width: 100%;
      height: calc(100vh - 100px);
      background: linear-gradient($button-hover-color, transparent);
      padding: 15px 8px;
      box-sizing: border-box;
      z-index: 10;
      opacity: 0;
    }

    &__nav-link {
      margin-bottom: 20px;
    }

    &__nav-link,
    &__nav-link:visited,
    &__nav-link:active {
      color: $white-color;
    }

    &__nav-link:active::after {
      background: $white-color;
    }

    &__checkbox:checked ~ &__nav-list {
      @include transition(all 0.5ms ease-in-out);
      opacity: 1;
    }

    &:has(input:checked) + .main .hero__text {
      @include transition(all 0.5ms ease-in-out);
      opacity: 0;
    }
  }
}
