.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 15px 0 15px;
}

.hero__title {
  align-self: flex-start;
  margin-bottom: 44px;
}

.hero__img {
  width: 970px;
  height: 387px;
}
