.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 15px 101px 15px;
  box-sizing: border-box;
}

.skills__heading {
  margin-bottom: 14px;
}

.skills__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 49px;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  margin-right: 97px;
}

.skills__item:last-of-type {
  margin-right: 0;
}

.skills__skill-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__logo {
  width: 80px;
  height: 80px;
  margin-bottom: 26px;
}

.skills__logo--small-width {
  width: 53.33px;
}

.skills__skill-name {
  font-size: 14px;
  font-weight: var(--font-w-bold);
  letter-spacing: 0.32px;
  text-align: center;
  color: var(--secondary-text-color);
}

.skills__rating {
  width: 170px;
  height: 26px;
  margin-top: 59px;
}

.skills__rating-star {
  fill: var(--main-text-color);
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

.skills__rating-star:last-of-type {
  margin-right: 0;
}

.skills__rating-star--empty {
  fill: var(--empty-star-color);
}
