.about {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 150px 0;
}

.about__title {
  position: relative;
  font-size: 34px;
  line-height: 40.8px;
  letter-spacing: 0.14em;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  padding-bottom: 16px;
  margin-bottom: 40px;
  margin-left: 7px;
}

.about__subtitle {
  width: 570px;
  font-size: 16px;
  line-height: 24px;
  word-spacing: 1.2px;
  text-align: center;
  margin-bottom: 55px;
}

.about__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 26px);
  width: 45px;
  height: 4px;
  background-color: var(--pseudo-line-color);
}

.about__cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.about__card-item {
  font-size: 18px;
  word-spacing: 1px;
  width: 270px;
}

.about__img-wrap {
  position: relative;
  width: 270px;
  height: 270px;
  margin-bottom: 20px;
  cursor: pointer;
}

.about__img-wrap:hover .about__overlay {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.about__img {
  display: block;
  width: 100%;
  height: 270px;
}

.about__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  z-index: 1;
  opacity: 0;
}

.about__social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 134px;
  text-align: center;
}

.about__icon {
  fill: var(--white-color);
  background-color: var(--light-accent-color);
  padding: 11px;
}

.about__icon:hover {
  fill: var(--accent-color);
  background-color: var(--white-color);
}

.about__social-link {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 4px;
}

.about__name {
  font-weight: var(--fw-bold);
  line-height: 21.6px;
  color: var(--card-name-text-color);
}

.about__position {
  line-height: 20.6px;
  color: var(--card-description-color);
}
