.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.32px;
  padding: 0 15px;
  box-sizing: border-box;
}

.header__nav {
  width: 496px;
  height: 30px;
  padding: 25px 0 24px 0;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  height: 30px;
}

.header__nav {
  color: var(--secondary-text-color);
}

.header__link {
  color: var(--secondary-text-color);
}

.header__link:hover,
.header__link:active {
  color: var(--main-text-color);
  transition: all 0.2s ease-in;
}
