.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg-color);
  padding: 100px 15px 99px 15px;
  box-sizing: border-box;
}

.portfolio__heading {
  margin-bottom: 44px;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 69px;
  text-align: center;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__image {
  width: 970px;
  height: 540px;
  margin-bottom: 41px;
}

.portfolio__link {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.portfolio__link:hover {
  text-decoration-thickness: 2px;
}
