.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 70px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__text-block {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.hero__heading {
  font-weight: var(--fw-bold);
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 31px;
}

.hero__text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 27px;
}

.hero__image-wrap {
  display: flex;
  max-width: 644px;
  max-height: 495px;
}

.hero__image {
  display: block;
  width: 100%;
  height: 100%;
}
