.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 100px;
}

.features__title {
  max-width: 539px;
  width: 100%;
  font-size: 36px;
  font-weight: var(--fw-bold);
  line-height: 43.88px;
  text-align: center;
  margin-bottom: 50px;
}

.features__linear-bg {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url("../../../public/sprites/linear-background.svg") no-repeat
    center bottom / cover;
  padding-bottom: 74px;
  /* overflow: hidden; */
}

/* Oval through ::after */
/* .features__linear-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: -25%;
  bottom: 0;
  width: 150%;
  background: linear-gradient(
    360deg,
    rgba(255, 229, 210, 0.629261) 0.33%,
    rgba(255, 244, 229, 0.0001) 99.67%
  );
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  z-index: -1;
} */

.features__tests-block {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-bottom: 45px;
}

.features__item-link {
  display: block;
  width: 270px;
}

.features__tests-item {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  padding-right: 10px;
  padding-bottom: 25px;
}

.features__icon {
  line-height: 18.4px;
  width: 19px;
  height: 18px;
  padding: 16px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.features__heading {
  font-size: 22px;
  font-weight: var(--fw-semi-bold);
  line-height: 26.82px;
  margin-bottom: 16px;
}

.features__description {
  color: var(--main-text-color);
  font-weight: var(--fw-medium);
  line-height: 26px;
}

.features__button {
  transform: translateX(5px);
}
