/* General */

html {
  font-size: 16px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  font-size: 1.75rem;
  color: #000000;
  background-color: white;
}

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  /* position: sticky;
  top: 0; */
  background-color: #ffffff;
  padding: 13px 0;
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__toolbar {
  display: flex;
  align-items: center;
}

.header__switch-lang-btn {
  font-family: "Tourney", sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 0.8;
  letter-spacing: 0.04em;
  display: block;
  height: 40px;
  text-transform: uppercase;
  background: transparent;
  text-align: left;
  border: none;
  padding: 0 3px;
  margin-right: 49px;
  margin-bottom: 1px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.header__list-item {
  font-family: "Staatliches", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.header__list-item:first-child::after {
  content: "\002F";
  color: inherit;
  margin: 0 10px 0 7px;
}

.header__list-link {
  text-decoration: none;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
}

.main__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* .background-img {
  background-image: url(../public/images/bg_picture.png);
  background-repeat: no-repeat;
  background-position: top 149px right 39px;
  background-attachment: fixed;
} */

/* Aside + Nav */

.aside {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  width: 100%;
}

.aside__nav {
  position: sticky;
  top: 0;
  margin-top: -161px;
  padding-top: 161px;
}

.aside__list-item {
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 8px;
  margin: 0 5px 71px 10px;
}

.aside__list-link {
  text-decoration: none;
}

/* Articles */

.articles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 785px;
  width: 100%;
  padding-top: 99px;
}

.background-fixed {
  position: fixed;
  top: 70px;
  margin-top: 80px;
  transform: translateX(198px);
  z-index: -1;
}

.article {
  margin-bottom: 58px;
  scroll-margin-top: 179px;
}

.title {
  font-family: "Francois One", sans-serif;
  font-size: 2.25rem;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.article__title {
  position: relative;
  margin-bottom: 40px;
}

.article__title::before {
  position: absolute;
  content: "";
  top: -29px;
  width: 100px;
  height: 8px;
  background: #000000;
}

.article__chapter {
  position: relative;
  top: -2px;
  left: -2px;
  font-family: "Farro-Light", sans-serif;
  font-size: 1.14rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  vertical-align: top;
}

.article__concept-item,
.article__paragraph {
  margin-bottom: 41px;
}

.article__paragraph--mb-34 {
  margin-bottom: 34px;
}

.article__paragraph--mb-30 {
  margin-bottom: 30px;
}

.article__paragraph--mrgs {
  margin-top: 31px;
  margin-bottom: 41px;
}

.article__concepts-list {
  padding-top: 2px;
}

.article__concept-name {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.code {
  background-color: #d3d3d3;
  padding: 4px 2px 6px 0;
}

.emphasize {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
}

.article__emodji {
  display: inline-block;
  width: 28px;
  height: 30px;
  position: relative;
  top: -4px;
}

/* Links */

a {
  color: inherit;
  outline: none;
}

a:active,
a:focus,
a:visited {
  outline: none;
}
