@use "../abstracts" as *;
@use "../base/typography" as *;

.blog {
  @include flex(column, center);
  @extend %full-width;
  padding-top: 90px;
  padding-bottom: 90px;

  &__inner {
    @include flex(column);
  }

  &__heading {
    @include font-heading1-regular;
    align-self: flex-start;
    margin-bottom: 50px;

    // media
    // @include for-tablet-portrait-down {
    //   align-self: center;
    // }
  }
}
