@use "../abstracts" as *;
@use "../base/typography" as *;

.blog {
  @include flex(column, center);
  @extend %full-width;
  padding-top: 90px;
  padding-bottom: 91px;

  // media
  @include for-tablet-landscape-down {
    padding-top: 70px;
    padding-bottom: 72px;
  }

  &__inner {
    @include flex(column);
  }

  &__heading {
    @include font-heading1-regular;
    align-self: flex-start;
    margin-bottom: 50px;

    @include for-phone-only {
      margin-bottom: 56px;
    }

    // media
    @include for-phone-only {
      align-self: center;
    }
  }
}
