<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>

    <link rel="stylesheet" href="../css/modalStyles.css" />
  </head>

  <body>
    <div class="wrapper">
      <button id="open">Display</button>
    </div>
    <div class="overlay">
      <div class="modal hidden">
        <div class="wrapper">
          <button id="close">X</button>
        </div>
        I am a modal window!
      </div>
    </div>

    <script type="module" src="../js/modal.js"></script>
  </body>
</html>
