:root {
  --main-bg-color: #f7f7f7;
  --main-text-color: #545454;
  --white-color: #ffffff;
  --accent-color: #007bff;
  --border-color: #e4e4e4;
  --warning-color: #bc3f3f;
  --icon-color: #969696;
  --heading-color: #1c1c1c;
  --transparent: transparent;

  --input-default-border: 1px solid var(--border-color);
  --input-focus-border: 1px solid var(--accent-color);
  --input-invalid-border: 1px solid var(--warning-color);
  --horisontal-rule-top-border: 1px solid var(--border-color);
  --border-transparent: 1px solid var(--transparent);

  --input-border-radius: 6px;
  --circle-border-radius: 50%;

  --default-font-size: 1rem;
  --body-font-size: 0.938rem;
  --default-line-height: 1.46;
  --default-letter-spacing: -0.013rem;
  --small-letter-spacing: -0.006rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;

  --full-width: 100%;
  --min-vh-height: 100vh;
  --max-container-width: 1200px;
}
