html {
  font-size: 16px;
}

html,
body,
.root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--fw-regular);
  font-style: var(--fs-normal);
  font-size: 1rem;
  line-height: 1.75;
  color: var(--text-color);
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: flex-start;
  padding-top: 22px;
  padding-bottom: 13px;
}

.logo__icon {
  width: 200px;
  height: 35px;
}

.horizontal-rule {
  border: none;
  border-top: var(--horizontal-rule);
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.main {
  flex: 1 0 auto;
  width: 100%;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 100px 0;
}

.services__inner {
  display: flex;
  flex-direction: column;
}

.services__subheading {
  text-transform: uppercase;
  line-height: 1.31;
  color: var(--secondary-text);
  margin-left: 3px;
}

.services__heading {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.013rem;
  margin-top: 15px;
  margin-bottom: 34px;
}

.services__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.services__item {
  max-width: 370px;
  width: 100%;
  border: var(--border-outer);
  border-radius: var(--border-outer-radius);
  padding: 39px 50px 36px 39px;
  box-sizing: border-box;
}

.services__item:hover {
  border: var(--border-outer-hover);
  transition: all 0.5ms ease-in-out;
  cursor: pointer;
}

.services__image-wrap {
  width: 64px;
  height: 64px;
  text-align: center;
  border: var(--border-inner);
  border-radius: var(--border-inner-radius);
  box-sizing: border-box;
  margin-bottom: 31px;
}

.services__item:hover > .services__image-wrap {
  border: var(--border-inner-hover);
  transition: all 0.5ms ease-in-out;
}

.services__icon {
  width: 39px;
  height: 37px;
  margin-top: 13px;
}

.services__title {
  font-size: 1.5rem;
  line-height: 0.88;
  letter-spacing: 0.013rem;
  margin-bottom: 13px;
}

.services__description {
  margin-bottom: 22px;
}

.services__link {
  font-weight: var(--fw-semi-bold);
  line-height: 1.17;
  color: var(--dark-green);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  background: var(--text-color);
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo-white {
  color: var(--white);
}

.footer__icons {
  margin-top: 31px;
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  padding: 9px;
  border-radius: var(--icon-border-radius);
  background: var(--white);
  margin-right: 6px;
}

a {
  text-decoration: none;
}

a,
a:active,
a:focus,
a:visited {
  outline: none;
}
