html {
  font-size: 16px;
}

html,
body,
.root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--fw-regular);
  font-style: var(--fs-normal);
  font-size: 1rem;
  line-height: 1.75;
  color: var(--text-color);
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo__icon {
  width: 200px;
  height: 35px;
}

.horizontal-rule {
  border: none;
  border-top: var(--horizontal-rule);
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
