@use "../abstracts" as *;

html,
body {
  height: 100%;
  // font-size: $initial-font-size;
}

body {
  @include fonts();
  background: $white-color;
  min-height: $min-content-vh;
}

.root {
  //   @include flex(column, center);
}

.container {
  @extend %full-width;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
}

.main {
  width: 100%;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: $black-color;
  outline: none;
}

img {
  @include responsive-image;
}
