@use "../abstracts/" as *;

body {
  font-family: "Lato", sans-serif;
  * {
    font-family: "Lato", sans-serif;
  }
}

@mixin font-list-regular {
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 1.2;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: $black-color;
}

@mixin font-search-placeholser {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: $placeholder-color;
}

@mixin font-hero-heading {
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: $fw-semi-bold;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: $black-color;
}
