@use "../abstracts/" as *;

body {
  font-family: "Lato", sans-serif;
  * {
    font-family: "Lato", sans-serif;
  }
}

@mixin font-navigation-regular {
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 1.2;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: $black-color;
}

@mixin font-placeholder-regular {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: $placeholder-color;
}

//styleName: Heading / H1 ;

@mixin font-heading1-semibold {
  @include responsive-font(30, 48);
  font-family: "Red Hat Display", sans-serif;
  // font-size: 48px;
  font-weight: $fw-semi-bold;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: $black-color;
}

@mixin font-heading1-regular {
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: $fw-semi-bold;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: $black-color;
}

// Heading / H2 ???

@mixin font-heading2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 28px;
  font-weight: $fw-semi-bold;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: $black-color;
}

//styleName: Heading / H5;

@mixin font-post-excerpt {
  font-size: 16px;
  font-weight: $fw-regular;
  line-height: 1.66;
  letter-spacing: 0.05em;
  color: $main-text-color;
}

//styleName: Heading / H6;

@mixin font-category-regular {
  font-size: 16px;
  font-weight: $fw-regular;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: $placeholder-color;
}

//styleName: Heading / H6;

@mixin font-footer-contact {
  font-size: 16px;
  font-weight: $fw-regular;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: $black-color;
}

//styleName: Heading / H9;

@mixin font-latest-category {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: $placeholder-color;
}

//styleName: Heading / H9;
@mixin font-copiright {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: $black-color;
}

// Heading / H3 ???

@mixin font-title-medium {
  font-family: "Red Hat Display", sans-serif;
  font-size: 23px;
  font-weight: $fw-medium;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: $black-color;
}

//

@mixin font-popular-title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 24px;
  font-weight: $fw-semi-bold;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: $black-color;
}

//styleName: Heading / H4;

@mixin font-vacancies-paragraph {
  font-family: Lato;
  font-size: 19px;
  font-weight: $fw-regular;
  line-height: 1.68;
  letter-spacing: 0.05em;
  color: $main-text-color;
}
