$white-color: #ffffff;
$black-color: #000000;
$button-hover-color: #323232;
$main-text-color: #565656;
$placeholder-color: #7b7b7b;
// background: #cccccc;
$footer-bg-color: #f4f4f4;
$error-color: #e10000;
