@use "colors" as *;
@use "variables" as *;

// function

@function rem($size) {
  @return $size / $default-fs * 1rem;
}

// responsive-font

@mixin responsive-font($min-size, $max-size) {
  $adding-size: $max-size - $min-size;
  $max-width: $max-width - 320;
  font-size: calc(
    #{$min-size + px} + #{$adding-size} *
      ((100vw - #{$min-content-width}) / #{$max-width})
  );
}

// centered-flex

@mixin flex($direction: row, $alignment: stretch, $justification: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignment;
  justify-content: $justification;
}

// transition

@mixin transition($params) {
  transition: $params;
}

// image

@mixin responsive-image {
  display: block;
  max-width: 100%;
  width: 100%;
  // min-width: 340px;
  height: auto;
}

// fonts
@mixin fonts(
  $f-family: '"Lato", sans-serif',
  $f-style: $fs-normal,
  $f-weight: $fw-regular,
  $f-size: 1rem,
  $l-height: 1.66,
  $l-spacing: normal,
  $t-transform: none,
  $color: $main-text-color
) {
  font-family: $f-family;
  font-style: $f-style;
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: $l-height;
  letter-spacing: $l-spacing;
  text-transform: $t-transform;
  color: $color;
}

// media

@mixin for-tablet-landscape-down {
  @media screen and (max-width: 900px) {
    @content;
  }
}

// @mixin for-tablet-portrait-up-to-laptop {
//   @media screen and (min-width: 768px) and (max-width: 1023px) {
//     @content;
//   }
// }

// @mixin for-tablet-portrait-down {
//   @media screen and (max-width: 767px) {
//     @content;
//   }
// }

// @mixin for-tablet-portrait-down {
//   @media screen and (max-width: 767px) {
//     @content;
//   }
// }

@mixin for-phone-only {
  @media screen and (max-width: 599px) {
    @content;
  }
}

// @mixin for-tablet-portrait-up {
//   @media screen and (min-width: 767px) {
//     @content;
//   }
// }

///////////////////////

// @mixin for-tablet-landscape-up {
//   @media screen and (min-width: 900px) {
//     @content;
//   }
// }
// @mixin for-desktop-up {
//   @media screen and (min-width: 1200px) {
//     @content;
//   }
// }
// @mixin for-big-desktop-up {
//   @media screen and (min-width: 1800px) {
//     @content;
//   }
// }
